{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<h1 style="text-align: center;">Breadth Detail</h1>

<div class="container">
    <!-- 20 Day EMA////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[0].name }} - 20EMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[0] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[1].name }} - 20EMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[4] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[2].name }} - 20EMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[8] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 50 Day SMA////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[0].name }} - 50SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[1] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[1].name }} - 50SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[5] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[2].name }} - 50SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[9] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 200 Day SMA////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[0].name }} - 200SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[2] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[1].name }} - 200SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[6] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[2].name }} - 200SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[10] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- BELOW 200 SMA////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[0].name }} - BELOW 200SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[3] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[1].name }} - BELOW 200SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[7] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ portfolios[2].name }} - BELOW 200SMA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in port_list[11] %}
                    <tr>
                        <td>
                            ({{ stock.ticker }}) {{stock.name}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}