{% extends "layout.html" %}

{% block title %}
    Delete Stocks
{% endblock %}

{% block main %}
    <h1 style="text-align: center;">Delete Stocks</h1>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="js-center"><strong>{{message}}</strong></p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row d-flex justify-content-md-center">
            <div class="col-md-4">
                <form action="/delete-stock" method="post">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">{{ portfolio.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="hidden" name="portfolio_id" value="{{portfolio.id}}">
                                    <input class="form-check-input" type="checkbox" value= "{{ stock.ticker }}" id="symbol", name="tickers[]">
                                    <label class="form-check-label" for="symbol">
                                        ({{ stock.ticker }}) {{ stock.name }}
                                    </label>
                                </div>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="sumbit" class="btn btn-primary mb-3 button-js" style="width: 100px;">Delete</button>
                </form>
            </div>
        </div>

{% endblock %}