{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 style="margin: 20px;">Frequently Asked Questions</h1>
        </div>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Financial Disclosure
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>NO INVESTMENT ADVICE</strong>

                This website content is for informational purposes only, you should not construe any such information or other material as legal, tax, investment, financial, or other advice. Nothing contained on this site constitutes a solicitation, recommendation, endorsement, or offer to buy or sell any securities or other financial instruments in this or in in any other jurisdiction in which such solicitation or offer would be unlawful under the securities laws of such jurisdiction.

                All Content on this site is information of a general nature and does not address the circumstances of any particular individual or entity. Nothing in the Site constitutes professional and/or financial advice, nor does any information on the Site constitute a comprehensive or complete statement of the matters discussed or the law relating thereto. You alone assume the sole responsibility of evaluating the merits and risks associated with the use of any information or other Content on the Site before making any decisions based on such information or other content. In exchange for using the Site, you agree not to hold this website, its affiliates or any third party service provider liable for any possible claim for damages arising from any decision you make based on information or other content made available to you through the site.

                <strong>INVESTMENT RISKS</strong>

                There are risks associated with investing in securities. Investing in stocks, bonds, exchange traded funds, mutual funds, and money market funds involve risk of loss.  Loss of principal is possible. Some high risk investments may use leverage, which will accentuate gains & losses. Foreign investing involves special risks, including a greater volatility and political, economic and currency risks and differences in accounting methods.  A security’s or a firm’s past investment performance is not a guarantee or predictor of future investment performance.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                yahoo! Finance API Disclosure
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Download/Rendering Speed
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Please be aware it may take up to one minute to render the data for larger groups of portfolios because we are using a free source for our data. If you are experiencing longer than normal rendering times, please try clearing your cache.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                CORE - Sector Constituents
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="faq-ul">
                    <li class="faq-li">XLB - The Materials Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLC - The Communication Services Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLE - The Energy Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLF - The Financial Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLI - The Industrial Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLK - The Technology Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLP - The Consumer Staples Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLRE - The Real Estate Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLU - The Utilities Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLV - The Health Care Select Sector SPDR® Fund</li>
                    <li class="faq-li">XLY - The Consumer Discretionary Select Sector SPDR® Fund</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                CORE - Industry Constituents
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="faq-ul">
                    <li class="faq-li">KBE - SPDR® S&P® Bank ETF</li>
                    <li class="faq-li">KCE - SPDR® S&P® Capital Markets ETF</li>
                    <li class="faq-li">KIE - SPDR® S&P® Insurance ETF</li>
                    <li class="faq-li">KRE - SPDR® S&P® Regional Banking ETF</li>
                    <li class="faq-li">XAR - SPDR® S&P® Aerospace & Defense ETF</li>
                    <li class="faq-li">XBI - SPDR® S&P® Biotech ETF</li>
                    <li class="faq-li">XES - SPDR® S&P® Oil & Gas Equipment & Services ETF</li>
                    <li class="faq-li">XHB - SPDR® S&P® Homebuilders ETF</li>
                    <li class="faq-li">XHE - SPDR® S&P® Health Care Equipment ETF</li>
                    <li class="faq-li">XHS - SPDR® S&P® Health Care Services ETF</li>
                    <li class="faq-li">XME - SPDR® S&P® Metals & Mining ETF</li>
                    <li class="faq-li">XOP - SPDR® S&P® Oil & Gas Exploration & Production ETF</li>
                    <li class="faq-li">XPH - SPDR® S&P® Pharmaceuticals ETF</li>
                    <li class="faq-li">XRT - SPDR® S&P® Retail ETF</li>
                    <li class="faq-li">XSD - SPDR® S&P® Semiconductor ETF</li>
                    <li class="faq-li">XSW - SPDR® S&P® Software & Services ETF</li>
                    <li class="faq-li">XTL - SPDR® S&P® Telecom ETF</li>
                    <li class="faq-li">XTN - SPDR® S&P® Transportation ETF</li>
                    <li class="faq-li">XWEB - SPDR® S&P® Internet ETF</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                CORE - Sub Sector Constituents
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="faq-ul">
                    <li class="faq-li">AIQ - Global X Artificial Intelligence & Technology ETF</li>
                    <li class="faq-li">BJK - VanEck Gaming ETF</li>
                    <li class="faq-li">BLOK - Amplify Transformational Data Sharing ETF</li>
                    <li class="faq-li">CARZ - First Trust S-Network Future Vehicles & Technology ETF</li>
                    <li class="faq-li">CIBR - First Trust NASDAQ Cybersecurity ETF</li>
                    <li class="faq-li">CNCR - Loncar Cancer Immunotherapy ETF</li>
                    <li class="faq-li">COPX - Global X Copper Miners ETF</li>
                    <li class="faq-li">ESPO - VanEck Video Gaming and eSports ETF</li>
                    <li class="faq-li">EVX - VanEck Environmental Services ETF</li>
                    <li class="faq-li">FAN - First Trust Global Wind Energy ETF</li>
                    <li class="faq-li">FCG - First Trust Natural Gas ETF</li>

                    <li class="faq-li">GDX - VanEck Gold Miners ETF</li>
                    <li class="faq-li">GDXJ - VanEck Junior Gold Miners ETF</li>
                    <li class="faq-li">GII - SPDR S&P Global Infrastructure ETF</li>
                    <li class="faq-li">GRID - First Trust NASDAQ Clean Edge Smart Grid Infrastructure Index Fund</li>
                    <li class="faq-li">HAP - VanEck Natural Resources ETF</li>
                    <li class="faq-li">IBUY - Amplify Online Retail ETF</li>
                    <li class="faq-li">IDRV - iShares Self-Driving EV and Tech ETF</li>
                    <li class="faq-li">IHF - iShares U.S. Healthcare Providers ETF</li>
                    <li class="faq-li">IHI - iShares U.S. Medical Devices ETF</li>
                    <li class="faq-li">IYT - iShares Transportation Average ETF</li>
                    <li class="faq-li">JETS - U.S. Global Jets ETF</li>

                    <li class="faq-li">NLR - VanEck Uranium+Nuclear Energy ETF</li>
                    <li class="faq-li">NXTG - First Trust IndXX NextG ETF</li>
                    <li class="faq-li">PBD - Invesco Global Clean Energy ETF</li>
                    <li class="faq-li">PBE - Invesco Biotechnology & Genome ETF</li>
                    <li class="faq-li">PBJ - Invesco Food & Beverage ETF</li>
                    <li class="faq-li">PBS - Invesco Next Gen Media and Gaming ETF</li>
                    <li class="faq-li">PEJ - Invesco Dynamic Leisure and Entertainment ETF</li>
                    <li class="faq-li">PIO - Invesco Global Water ETF</li>
                    <li class="faq-li">PJP - Invesco Pharmaceuticals ETF</li>
                    <li class="faq-li">PNQI - Invesco NASDAQ Internet ETF</li>
                    <li class="faq-li">PPA - Invesco Aerospace & Defense ETF</li>

                    <li class="faq-li">PSI - Invesco Semiconductors ETF</li>
                    <li class="faq-li">PSJ - Invesco Dynamic Software ETF</li>
                    <li class="faq-li">PXE - Invesco Dynamic Energy Exploration & Production ETF</li>
                    <li class="faq-li">PXJ - Invesco Dynamic Oil & Gas Services ETF</li>
                    <li class="faq-li">PXQ - Invesco Dynamic Networking ETF</li>
                    <li class="faq-li">ROBO - Robo Global Robotics and Automation Index ETF</li>
                    <li class="faq-li">SIL - Global X Silver Miners ETF</li>
                    <li class="faq-li">SKYY - First Trust Cloud Computing ETF</li>
                    <li class="faq-li">SLX - VanEck Steel ETF</li>
                    <li class="faq-li">SOCL - Global X Social Media ETF</li>
                    <li class="faq-li">TAN - Invesco Solar ETF</li>
                    <li class="faq-li">URA - Global X Uranium ETF</li>
                    <li class="faq-li">VICE - AdvisorShares Vice ETF</li>
                    <li class="faq-li">WOOD - iShares Global Timber & Forestry ETF</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                CORE - Index Constituents
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="faq-ul">
                    <li class="faq-li">DIA - SPDR Dow Jones Industrial Average ETF Trust</li>
                    <li class="faq-li">IWD - iShares Russell 1000 Value ETF</li>
                    <li class="faq-li">IWF - iShares Russell 1000 Growth ETF</li>
                    <li class="faq-li">IWM - iShares Russell 2000 ETF</li>
                    <li class="faq-li">IWN - iShares Russell 2000 Value ETF</li>
                    <li class="faq-li">IWO - iShares Russell 2000 Growth ETF</li>
                    <li class="faq-li">IWP - iShares Russell Mid-Cap Growth ETF</li>
                    <li class="faq-li">IWS - iShares Russell Mid-Cap Value ETF</li>
                    <li class="faq-li">QQQ - Invesco QQQ Trust</li>
                    <li class="faq-li">QQQE - Direxion NASDAQ-100 Equal Weighted Index Shares</li>
                    <li class="faq-li">QQQJ - Invesco NASDAQ Next Gen 100 ETF</li>
                    <li class="faq-li">RSP - Invesco S&P 500 Equal Weight ETF</li>
                    <li class="faq-li">SPY - SPDR S&P 500 ETF Trust</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}