{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 style="margin: 20px;">Welcome to my.Breadth</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
                Here you can create portfolios with equity securities listed on any american 
                exchange and run them through the application to see the current healthiness 
                of those portfolios based on breadth.
        </div>
        <div class="col-3"></div>
    </div>
    <div class="container mt-5">
        <div class="alert alert-info alert-dismissible fade show quote-style" role="alert">
            <!-- <strong>Random Quote:</strong> --> {{ quote }}
        </div>
    </div>
{% endblock %}