<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>my.Breadth {% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/custom_style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-size: 26px;">
                    my.Breadth
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    {% if session["user_id"] %}
                    <div class="navbar-nav me-2 mb-lg-0">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                CORE
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/sector-summary">Sector Summary</a></li>
                                <li><a class="dropdown-item" href="/sector-detail">Sector Detail</a></li>
                                <li><a class="dropdown-item" href="/index-summary">Index Summary</a></li>
                                <li><a class="dropdown-item" href="/index-detail">Index Detail</a></li>
                                <!-- <li><a class="dropdown-item" href="/net-hilow">Net High/Low</a></li> -->
                            </ul>
                        </div>
                        <!-- <a class="nav-link" href="/portfolio">Portfolio</a> -->
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/portfolio">Current Portfolio</a></li>
                                <li><a class="dropdown-item" href="/summary">Breadth Summary</a></li>
                                <li><a class="dropdown-item" href="/detail">Breadth Detail</a></li>
                            </ul>
                        </div>
                        <!-- <a class="nav-link" href="/summary">Summary</a>
                        <a class="nav-link" href="/detail">Detail</a> -->
                        <a class="nav-link" href="/create-portfolio">Create Portfolio</a>
                        <a class="nav-link" href="/faq">FAQ</a>
                        
                    </div>
                    <div class="navbar-nav ms-auto mt-2">
                        <a class="nav-link" href="/contact">Contact</a>
                        <a class="nav-link" href="/logout">Logout</a>
                    </div>
                    {% else %}
                    <div class="navbar-nav ms-auto mt-2">
                        <a class="nav-link" href="/register">Register</a>
                        <a class="nav-link" href="/login">Login</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <main>{% block main %}{% endblock %}</main>

        <footer class="mb-5 small text-center text-muted" style="margin-top: 40px;">
            Nothing on this website should be considered financial advice. Please consult a financial advisor for investment related questions.
            <br>
            Data provided by <a href="https://legal.yahoo.com/us/en/yahoo/terms/product-atos/apiforydn/index.html">yahoo! Finance API, </a><a href="https://finance.yahoo.com">yahoo! Finance</a>
            <br>
            <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/poweredby_yahoo_h_purple.png" width="134" height="20"/> </a>
        </footer>

    </body>
</html>